h1{
   
  background-color: rebeccapurple;
  color: rgb(255, 255, 255);
  box-shadow:  0 0 10px 10px #fff,  /* inner white */
  0 0 10px 10px #f0f, /* middle magenta */
  0 0 14px 10px #0ff; /* outer cyan */
  border-radius: 20px;
}